#headerContainer {
  background: #e5e5e5;
  width: 100%;
  padding: 1.875em 0em 1.875em 6.25em;
  border-bottom: 2px solid #aaaaaa;
  text-align: left;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  @media (max-width: 1550px) {
    padding-bottom: 10px;
  }
  @media (max-width: 1400px) {
    padding-bottom: 5px;
    padding-top: 5px;
  }
  @media (max-width: 768px) {
    border-bottom: none;
    padding-bottom: 15px;
  }
  @media (max-width: 600px) {
    padding-left: 50px;
  }
}
