.social-container {
    margin-top: 1em;
    position: relative;
    .linkedin,
    .github {
      margin-bottom: 1em;
    }
    .button {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: flex-end;
      margin-top: 16em;
      @media (max-width: 768px) {
        position: static;
        margin-top: 20px;
      }
    }
  }